.aboutcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.aboutimageheadincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
